---
- name: Wait till config api server answers
  uri:
    url: "{{ api_server_url }}"
    status_code: 200
  register: api_server_connect_status
  until: api_server_connect_status.status == 200
  retries: 180
  delay: 1

- name: Run contrail-compute-setup script, logs at /var/log/contrail/contrail_vrouter_provisioning.log

  shell: "contrail-compute-setup --cfgm_ip {{ config_ip }} \
          --keystone_ip {{ keystone_ip }} \
          --self_ip {{ my_compute_ip }} {{ multi_intf_config }} \
          --hypervisor {{ hypervisor }} \
          --keystone_auth_protocol {{ keystone_auth_protocol }} \
          --keystone_auth_port {{ keystone_admin_port }} \
          --keystone_admin_user {{ keystone_admin_user }} \
          --keystone_admin_password {{ keystone_admin_password }} \
          --keystone_admin_tenant_name {{ keystone_admin_tenant }} \
          {{ control_nodes_arg }} \
          {{ collectors_arg }} \
          {{ xmpp_auth_flag }} \
          {{ sandesh_ssl_flag }} \
          {{ introspect_ssl_flag }} \
          {{ dpdk_config }}"

- name: Run contrail-tor-agent script, logs at /var/log/contrail/contrail_vrouter_provisioning.log

    shell: "contrail-tor-agent --agent_name {{ item.value.tor_name }} \
            --http_server_port {{ item.value.tor_http_server_port }} \
            --tor_agent_discovery_server_ip {{item.value.tor_discovery_server_ip }} \
            --tor_id {{ item.value.tor_agent_id }} \
            --tor_ip {{ item.value.tor_ip }} \
            --tor_ovs_port {{ item.value.tor_ovs_port }} \
            --tsn_ip {{ item.value.tor_tunnel_ip }} \
            --tor_ovs_protocol {{ item.value.tor_ovs_protocol}} \
            --tor_agent_ovs_ka {{item.value.tor_agent_ovs_kaa}} "
    with_dict: {{tor_agent}} 
