---
- name: Wait till config api server answers
  uri:
    url: "{{ api_server_url }}"
    status_code: 200
  register: api_server_connect_status
  until: api_server_connect_status.status == 200
  retries: 180
  delay: 1

- name: Run contrail-compute-setup script, logs at /var/log/contrail/contrail_vrouter_provisioning.log

  shell: "contrail-compute-setup --cfgm_ip {{ config_ip }} \
          --keystone_ip {{ keystone_ip }} \
          --self_ip {{ my_compute_ip }} {{ multi_intf_ip_config }} \
          {{ multi_intf_gw_config }} \
          --hypervisor {{ hypervisor }} \
          --keystone_auth_protocol {{ keystone_auth_protocol }} \
          --keystone_auth_port {{ keystone_admin_port }} \
          --keystone_admin_user {{ keystone_admin_user }} \
          --keystone_admin_password {{ keystone_admin_password }} \
          --keystone_admin_tenant_name {{ keystone_admin_tenant }} \
          {{ control_nodes_arg }} \
          {{ collectors_arg }} \
          {{ xmpp_auth_flag }} \
          {{ xmpp_dns_auth_flag }} \
          {{ sandesh_ssl_flag }} \
          {{ introspect_ssl_flag }} \
          {{ dpdk_config }}"
