---
- name: Add esxi host to DVS
  vmware_dvs_host:
    hostname: "{{ esxi_host.vcenter_server.hostname }}"
    username: "{{ esxi_host.vcenter_server.username }}"
    password: "{{ esxi_host.vcenter_server.password }}"
    validate_certs: "{{ esxi_host.vcenter_server.validate_certs }}"
    esxi_hostname: "{{ esxi_host.name }}"
    switch_name: "{{ esxi_host.vcenter_server.dv_switch.dv_switch_name }}"
    vmnics: []
    state: present
  register: host_added
  async: 3600
  poll: 0

- name: Add esxi host to control-data DVS
  vmware_dvs_host:
    hostname: "{{ esxi_host.vcenter_server.hostname }}"
    username: "{{ esxi_host.vcenter_server.username }}"
    password: "{{ esxi_host.vcenter_server.password }}"
    validate_certs: "{{ esxi_host.vcenter_server.validate_certs }}"
    esxi_hostname: "{{ esxi_host.name }}"
    switch_name: "{{ esxi_host.vcenter_server.dv_switch_control_data.dv_switch_name }}"
    vmnics: [ "{{ esxi_host.vcenter_server.dv_port_group_control_data.uplink | default('') }}" ]
    state: present
  when: esxi_host.vcenter_server.dv_switch_control_data.dv_switch_name

- name: Add esxi host to mgmt DVS
  vmware_dvs_host:
    hostname: "{{ esxi_host.vcenter_server.hostname }}"
    username: "{{ esxi_host.vcenter_server.username }}"
    password: "{{ esxi_host.vcenter_server.password }}"
    validate_certs: "{{ esxi_host.vcenter_server.validate_certs }}"
    esxi_hostname: "{{ esxi_host.name }}"
    switch_name: "{{ esxi_host.vcenter_server.dv_switch_mgmt.dv_switch_name }}"
    vmnics: [ "{{ esxi_host.vcenter_server.dv_port_group_mgmt.uplink | default('') }}"]
    state: present
  when: esxi_host.vcenter_server.dv_switch_mgmt.dv_switch_name

- name: Save add host task result
  set_fact:
    hosts_added: "{{ hosts_added | default([]) + [host_added] }}"
