[mesos-master]
104.198.5.84 ansible_connection=ssh ansible_user=rrugge ansible_ssh_private_key_file=~/.ssh/google_compute_engine ansible_become=true

[mesos-slave]
104.198.106.204 ansible_connection=ssh ansible_user=rrugge ansible_ssh_private_key_file=~/.ssh/google_compute_engine ansible_become=true 
