###################################################
# Docker configurations
##
# docker registry
docker_registry: 10.84.34.155:5000
docker_registry_insecure: True

# install docker from package rather than installer from get.docker.com which is default method
docker_install_method: package

###################################################
# Ansible specific vars
##

# ansible connection details
ansible_user: root
ansible_become: true
# ansible_ssh_private_key_file: ~/.ssh/id_rsa

###################################################
# Common settings for contrail
##

# os_release - operating system release - ubuntu 14.04 - u14.04, ubuntu 16.04 - u16.04, centos 7.1 - c7.1, centos 7.2 - c7.2
os_release: u14.04

# contrail version
contrail_version: 4.0.0.0-3016

# cloud_orchestrator - cloud orchestrators to be setup
# Valid cloud orchestrators:
# kubernetes, mesos, openstack, openshift
cloud_orchestrator: kubernetes

# vrouter physical interface
vrouter_physical_interface: eth0

# custom image for kube-manager - image with ubuntu 16.04 and systemd
# contrail_kube_manager_image: 10.84.34.155:5000/contrail-kube-manager-u16.04:4.0.0.0-3016

# custom image for mesos-manager - image with ubuntu 16.04 and systemd
# contrail_mesos_manager_image: 10.84.34.155:5000/contrail-mesos-manager-u16.04:4.0.0.0-3016


# controller_ip can be load ballanced IP, or one of the controller_list
# if not configured, ansible use first ip address from [contrail-controllers]
# controller_ip: 192.168.0.22

##################
# Below config params (i.e the variables named .*_config) are used to configure contrailctl
# All of below variables are a dict which form individual section of contrailctl/*.conf (controller.conf, agent.conf, etc)
# they are just a dictionary form of config files found under contrailctl/*
# Please refer examples/fully_commented_inventory for full list of variables available
###################

# global_config: controller_list, analytics_list, analyticsdb_list etc would be automatically detected by ansible code based out of hosts file host group sections
#  e.g controller_list is all ips added under [contrail-controllers]
#   This vars will be configured in [GLOBAL] section of all contrailctl config files (contrailctl/*.conf)

# global_config:

# To configure custom webui http port
# webui_config: {http_listen_port: 8085}

###################################################
# Openshift specific configuration
##
# ifmap port must be changed, to avoid conflict with kubernetes api port

# ifmap_config: {server_port: 8445}
# openshift_config: {token: <openshift token>}

###################################################
# Openstack specific configuration
##
# contrail_install_packages_url: "http://10.84.5.120/github-build/mainline/3023/ubuntu-14-04/mitaka/contrail-install-packages_4.0.0.0-3023~mitaka_all.deb"
# keystone_config: {ip: 192.168.0.23, admin_password: contrail123}

