---
docker_mirror: 'https://get.docker.com'
docker_group: docker

docker_remote: False
docker_remote_bind: 0.0.0.0
docker_tls: True
docker_nontls_port: 2375
docker_tls_port: 2376

docker_pki_key_suffix: '-key.pem'
docker_pki_cert_suffix: '.pem'
docker_pki_dir: '~/pki'

docker_install_method: installer

# This would be different in case of supporting package based install method with package from docker.com
docker_package_name: docker
