---
cloud_orchestrator: openstack
controller_ip: "{{ ansible_default_ipv4.address }}"
controller_list: ["{{ controller_ip }}"]

config_server_list: []
contrail_api_server_list: "{{ config_server_list }}"
contrail_discovery_server_list: "{{ config_server_list }}"

# Analytics dB defaults
analyticsdb_list: "{{ controller_list }}"
analyticsdb_port: 9160
analyticsdb_cql_port: 9042
# external_configdb_servers - are list of rabbitmq servers managed externally
external_configdb_servers: []
# external_configdb_servers to be used as configdb_server_list if it is set
configdb_server_list: "{{ external_configdb_servers if external_configdb_servers else config_server_list }}"
configdb_port: 9161
configdb_cql_port: 9041
configdb_rmi_port: 7198
configdb_storage_port: 7010
configdb_ssl_storage_port: 7011

# List of zookeeper servers
# external_zookeeper_servers - are list of zookeeper servers managed externally
external_zookeeper_servers: []
zk_server_list: "{{ external_zookeeper_servers if external_zookeeper_servers else config_server_list }}"
zk_port: 2181

# List of rabbitmq servers
# external_rabbitmq_servers - are list of rabbitmq servers managed externally
external_rabbitmq_servers: []
# external_rabbitmq_servers to be used as rabbitmq_server_list if it is set
rabbitmq_server_list: "{{ external_rabbitmq_servers if external_rabbitmq_servers else config_server_list }}"
rabbitmq_port: 5672
rabbitmq_user: guest
rabbitmq_password: guest

config_ip: "{{ controller_ip }}"
disc_server_ip: "{{ config_ip }}"
disc_server_port: 5998
ifmap_server_ip: "{{ ansible_default_ipv4.address }}"
ifmap_server_port: 8443
api_server_ip: "{{ config_ip }}"
api_server_port: 8082
api_server_use_ssl: False
region: RegionOne

# Analytics defaults
# Analytics node list, defaults to controller node list.
analytics_list: "{{ controller_list }}"
contrail_analytics_api_list: "{{ analytics_list }}"
analytics_ip: "{{ controller_ip }}"
analytics_server_ip: "{{ analytics_ip }}"
analytics_server_port: 8081
analytics_server_use_ssl: False

analytics_collector_port: 8086

kafka_broker_list: "{{ analyticsdb_list }}"
kafka_port: 9092

# Control node configs
control_node_list: "{{ controller_list }}"
controlnode_ip: "{{ controller_ip }}"
control_ip: "{{ controlnode_ip }}"
control_xmpp_port: 5269
control_dns_port: 53
# Common log level and log_local
log_level: SYS_NOTICE
log_local: 1

# Redis Config
# Note: All apps used to connect redis server running on local machine, so redis_server_ip is not required, and
#  it should default to localhost
redis_server_ip: 127.0.0.1
redis_server_port: 6379

# Keystone defaults
keystone_version: v2.0
keystone_ip: "{{ controller_ip }}"
keystone_admin_port: 35357
keystone_public_port: 5000
keystone_auth_protocol: http
keystone_admin_user: admin
keystone_admin_password: admin
keystone_admin_tenant: admin

neutron_metadata_ip: "{{ keystone_ip }}"
neutron_metadata_port: 8775
provision_cmd_keystone_args: " --admin_user {{ keystone_admin_user }} --admin_password {{ keystone_admin_password }} --admin_tenant_name {{ keystone_admin_tenant }} "

# Vnc api client input file
vncapi_conf: "/etc/contrail/vnc_api_lib.ini"

systemd_wants_files: []
apt_update: true
