---
- name: Common system settings on base hosts
  hosts: all

  # docker_required is set to true if the node is running atleast one of
  # contrail-controller, contrail-analytics, contrail-analyticsdb, contrail-lb,
  # contrail-compute in 'bare_metal' mode.
  # In other words: set to false on standalone bare_metal computes
  # NOTE: Change here if you are adding a new group in the inventory that needs
  # to avoid installing docker-engine
  pre_tasks:
    - name: Set flag to decide if docker is required
      set_fact:
        docker_required: "{{ false if 'contrail-compute' in group_names and \
                          contrail_compute_mode == 'bare_metal' and \
                          'contrail-controllers' not in group_names and \
                          'contrail-analytics' not in group_names and \
                          'contrail-analyticsdb' not in group_names and \
                          'contrail-lb' not in group_names else true }}"

  roles:
    - name: Run common code
      role: common
    - name: Setup docker engine on nodes
      role: docker
      tags: [contrail.containers, contrail.containers.docker]
      when: deployment_platform == "docker" and docker_required == true
    - name: Setup the containers
      role: node
      tags: [node]

- name: Setup compute node
  hosts: contrail-compute
  roles:
    - name: Run common code
      role: common
    - name: Setup baremetal agent
      role: contrail/bare_metal_agent
      tags: [contrail.bare_metal_agent]
      when: contrail_compute_mode == 'bare_metal'
    - name: Setup openstack compute in case of openstack
      role: openstack/compute
      tags: [openstack.compute]
      when: cloud_orchestrator == "openstack" and enable_openstack_compute

- name: Register roles with controller API
  hosts: contrail-controllers
  roles:
    - name: Register analytics, analyticsdb and agent with controller API
      role: contrail/register
      tags: [contrail.register]
      when: cloud_orchestrator == 'openstack'

- name: Reboot compute nodes
  hosts: contrail-compute
  post_tasks:
    - name: Reboot node
      shell: sleep 5 && /etc/contrail/contrail_reboot
      async: 1
      poll: 0
      sudo: true
      ignore_errors: true
      when: contrail_compute_mode == 'bare_metal'

    - name: Waiting for server to come back
      local_action: wait_for port=22 host={{ inventory_hostname }} state=started delay=30 timeout=300
      sudo: false
      when: contrail_compute_mode == 'bare_metal'
