---
- name: Copy contrail controller image
  copy:
    src: "{{ docker_image_load_path }}/{{ contrail_controller_image_archive }}"
    dest: "/tmp/{{ contrail_controller_image_archive }}"
  when: docker_registry is not defined or load_contrail_controller_image is defined

- name: "Load contrail controller image"
  docker_image:
    name: contrail-controller
    tag: "{{ contrail_version }}"
    load_path: "/tmp/{{ contrail_controller_image_archive }}"
  when: docker_registry is not defined or load_contrail_controller_image is defined

- name: Configure contrailctl/controller.conf
  include: "contrailctl/controller/{{ contrailctl_config_mode }}.yml"

# An issue on running command "su" is noticed in some kernel versions in ubuntu 14.04
# https://github.com/docker/docker/issues/9213 - workaround for this for now
- name: "Start contrail controller container for ubuntu 14.0x"
  docker_container:
    name: controller
    image: "{{ controller_image }}"
    privileged: true
    network_mode: host
    state: started
    pull: "{{ always_pull_image }}"
    tty: true
    pid_mode: host
    restart_policy: unless-stopped
    restart_retries: 3
    capabilities:
      - AUDIT_WRITE
    volumes:
      - "{{ contrailctl_config_directory }}:/etc/contrailctl/"
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_version == '14.04' and os_release != 'u16.04'

- name: "Start contrail controller container"
  docker_container:
    name: controller
    image: "{{ controller_image }}"
    privileged: true
    network_mode: host
    state: started
    pull: "{{ always_pull_image }}"
    tty: true
    restart_policy: unless-stopped
    restart_retries: 3
    capabilities:
      - AUDIT_WRITE
    volumes:
      - "{{ contrailctl_config_directory }}:/etc/contrailctl/"
  when: ansible_distribution_version != '14.04' or os_release == 'u16.04'
