---
- name: include OS specific code
  include: "host/{{ansible_os_family}}.yml"

- name: Create contrailctl config directory
  file: path="{{ contrailctl_config_directory }}" state=directory

- name: set /etc/hosts entry for all nodes with their hostname so that they can be reached with hostnames
  lineinfile: dest=/etc/hosts line="{{ hostvars[item].get('ansible_hostname','') | ternary(item + ' ' + hostvars[item].get('ansible_hostname',''), '') }}"
  with_items: "{{ groups['all'] }}"
