---
- name: "Register nodes, Wait till config api server answers"
  uri:
    url: "{{ api_server_url }}"
    status_code: 200
    timeout: 5
  register: api_server_connect_status
  until: api_server_connect_status.status == 200
  retries: 180
  delay: 1

- name: "Register analytics node with controller"
  shell: "docker exec controller /usr/share/contrail-utils/provision_analytics_node.py \
         --use_admin_api \
         --host_name {{ item.value }} \
         --host_ip {{ item.key }} \
         --oper add \
         {{ orchestrator_opts }}"
  with_dict: "{{ analytics_ip_hostname_dict | default ({}) }}"

- name: "Register analyticsdb node with controller"
  shell: "docker exec controller /usr/share/contrail-utils/provision_database_node.py \
         --use_admin_api \
         --host_name {{ item.value }} \
         --host_ip {{ item.key }} \
         --oper add \
         {{ orchestrator_opts }}"
  with_dict: "{{ analyticsdb_ip_hostname_dict | default ({}) }}"

- name: "Register compute node with controller"
  shell: "docker exec controller /usr/share/contrail-utils/provision_vrouter.py \
         --use_admin_api \
         --host_name {{ item.value }} \
         --host_ip {{ item.key }} \
         --oper add \
         {{ orchestrator_opts }}"
  with_dict: "{{ compute_ip_hostname_dict | default({}) }}"
